.news
	padding 70px 40px 
	float left
	margin-top 0
	background-color rgba(#c2c2c2, .2)
	position relative;
	min-width 100%
	@media $tablet
		min-width 100%
		width 100%
		padding 70px 20px 

	&__row
		width 100%
		float left

	&__full
		min-height 800px;
		padding-top 90px

	&__title
		font-size 36px
		margin 0;
		padding 0
		margin-left 1.6%
