.sub-menu
	width 100%
	padding 10px 100px 20px 100px
	position relative
	height auto
	text-align center;
	cursor default
	@media $tablet
		padding 10px 10px 20px 10px
	@media $mobile
		padding 10px 10px 20px 10px
	&__link
		color #222
		padding 0 20px
		font-size 12px
		text-transform uppercase
		
		&--active
			color #111
			font-weight 700
