<main-menu 
	[white]="true"
	[hidden]="(simple === true)"
	[fixed]="true"></main-menu>

	<div class="one-admin-project one-project">
		<div class="project-first-scren" id="startPageComponent">
			<div class="project-first-scren__container">
				<h2 class="project-first-scren__title">{{project.title}}</h2>
				<p class="project-first-scren__info">{{project.summary}}</p>
			</div>

			<div class="project-sub-info">
				<div class="project-sub-info--block" *ngFor="let block of project.infoBlocks">
					<h4 class="project-sub-info--title">{{block.title}}</h4>
					<p class="project-sub-info--item" *ngFor="let line of block.lines; let i = index">{{block.lines[i].value}}</p>
				</div>
			</div>
			<img 
				[ngClass]="{'loaded': config.loaded, 'non-loaded':!config.loaded}"
				(load)="config.loaded = true" 
				src="{{project.firstImg}}" alt="" class="project-first-scren__bg-img">
		</div>

		<div class="one-admin-project__content one-project__content content-for-admin" (click)="contentClick($event)" #content [innerHTML]='project.text'></div>

		<div class="add-btn-container">
			<a class="button" (click)="addNewTextTag(content, 'p')">Параграф</a>
			<a class="button button--simple" (click)="addNewTextTag(content, 'h3')">Заголовок</a>
		</div>

		<div class="add-btn-container">
			<a class="button" (click)="addNewTagImg(content, 'full')">Img (Full)</a>
			<a class="button button--simple" (click)="addNewTagImg(content, 'half')">Img (Half)</a>
			<a class="button button--simple" (click)="addNewTagImg(content, 'small')">Img (Half. Center)</a>
		</div>


		<!-- <P> -->
		<div
			class="edit-text-block"
			[ngClass]="{'edit-text-block__hide': projectHelper.hide}">
			<div class="edit-text-block__part">
				<div class="edit-text-block__container">
					<a class="button button--simple button--big" (click)="addBeforeText(content, 'P')">+параграф</a>
					<a class="button button--simple button--big" (click)="addBeforeText(content, 'H3')">+заголовок</a>
				</div>

				<div class="edit-text-block__container">
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'full')">+Img (Full)</a>
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'half')">+Img (Half)</a>
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'small')">+Img (Half. Center)</a>
				</div>
			</div>

			<div class="edit-text-block__main">
				<textarea [(ngModel)]="projectHelper.text"></textarea>

				<a class="button" (click)="saveBlock(content, {})">Сохранить изменения</a>
				<a class="button button--simple" (click)="deleteBlock(content)">Удалить блок</a>
				<a class="button button--simple edit-text-block__close" (click)="projectHelper.hide = true">X</a>
			</div>
		</div>

		<!-- <IMG> -->
		<div
			class="edit-text-block"
			[ngClass]="{'edit-text-block__hide': projectHelper.hideImg}">
			<div class="edit-text-block__part">
				<div class="edit-text-block__container">
					<a class="button button--simple button--big" (click)="addBeforeText(content, 'P')">+параграф</a>
					<a class="button button--simple button--big" (click)="addBeforeText(content, 'H3')">+заголовок</a>
				</div>

				<div class="edit-text-block__container">
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'full')">+Img (Full)</a>
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'half')">+Img (Half)</a>
					<a class="button button--simple button--big" (click)="addNewTagImgBefore(content, 'small')">+Img (Half. Center)</a>
				</div>
			</div>
			<div class="edit-text-block__main">
				<input multiple #fileSelectFullText id="image-file" type="file" />
				<a class="button" (click)="saveBlock(content, fileSelectFullText)">Загрузить новую картинку</a>
				<a class="button button--simple" (click)="deleteBlock(content)">Удалить картинку</a>
				<a class="button button--simple edit-text-block__close" (click)="projectHelper.hideImg = true">X</a>
			</div>
		</div>

	</div>

<footer></footer>
