*
	box-sizing border-box

html
	height 100%

body
	default_font()
	min-width 20px
	min-height 100%
	position relative
	color $color_body_text
	background-color $color_primary_bg

h1
	font-size 35px

h2
	font-size 24px

h3
	font-size 16px

h1,
h2,
h3
	font-weight 500

a
	text-decoration none
	cursor pointer
	outline 0

	&:hover
	&:focus
	&:active
		text-decoration none

.main-content
	&__column
		margin 0 20px
		padding-bottom 20px
		clearfix()

		@media $tablet-max
			margin 0 10px

		@media $mobile-max
			margin 0 5px

.error-message
	width:100%
	text-align:center

.server-error-message
	width 70%
	z-index 2
	position absolute
	left 15%
	height 75px
	line-height 75px
	border-radius 0 0 5px 5px
	background-color #800053
	text-align center
	color #fff
	cursor pointer

.row
	position relative
	display block
	float left
	width 100%
	padding 50px 0
	
.page-title
	font-size 42px
	color #222
	@media $mobile
		font-size 32px

.loaded
	transition opacity .6s ease

.non-loaded
	opacity 0 !important
	transition opacity .6s ease


.black-img-shadow
	box-shadow: 0 0 800px 800px black;
	position: relative;
	z-index: -1;

.before-footer-shadow
	box-shadow: 0 0 180px #000, 0 150px 0 #303030;
	position: relative;
	z-index: 0;