.partners 
	padding 50px 0px 120px 100px
	margin-top 80px
	background: rgba(black, 0.02)
	@media $tablet
		padding 50px 0px 120px 10px

	&__title
		padding 0 30px 20px 25px
		font-size 28px
		@media $mobile
			padding 0 30px 20px 10px

	&__link
		width 18%
		display block
		float left
		margin-right 3.3%
		margin-left 30px
		text-align left
		@media $tablet
			width 25%
			height 140px
		@media $mobile
			width 70%

	&__img 
		max-height 180px
		max-width 200px
		
