<div class="row partners">
	<h2 class="partners__title">НАШИ ПАРТНЁРЫ</h2>
	<a class="partners__link" target="_blank" href="http://domani.by/"><img class="partners__img" src="assets/img/partners/logo-domani.png" alt=""></a>
	<a class="partners__link" target="_blank" href="https://www.carrot.by/brends/Lineform"><img class="partners__img" src="assets/img/partners/carrot.png" alt=""></a>
	<!--a class="partners__link" href="#"><img class="partners__img" src="img/partners/3.png" alt=""></a>
	<a class="partners__link" href="#"><img class="partners__img" src="img/partners/4.png" alt=""></a>
	<a class="partners__link" href="#"><img class="partners__img" src="img/partners/5.png" alt=""></a>
	<a class="partners__link" href="#"><img class="partners__img" src="img/partners/6.png" alt=""></a-->
</div>
