.projects
	padding 0
	float left
	margin-top 0
	min-width 100%
	overflow hidden
	width 100%

	&__full
		min-height 800px;
		.sub-menu
			padding-top 15px
			margin-top 80px
			border-top 1px solid rgba(#c2c2c2, 0.5)
