<main-menu 
	[hidden]="(simple == true)"
	[fixed]="true"
	[white]="true"></main-menu>

<div [ngClass]="{'projects': true, 'projects__full': (simple !== true)}">
	<nav class="sub-menu">
		<a 
			class="sub-menu__link"
			(click)='curentCategory = "all"' 
			[ngClass]="{'sub-menu__link': true, 'sub-menu__link--active': (curentCategory == 'all')}">ВСЕ</a>

		<a
			*ngFor="let category of categories"
			(click)='curentCategory = category'
			[ngClass]="{'sub-menu__link': true, 'sub-menu__link--active': (category == curentCategory)}">{{category}}</a>
	</nav>

	<small-project 
		*ngFor="let project of projects | reverse" [project]='project'
		admin='{{admin}}'
		[hidden]="!(curentCategory == 'all' || project.category.toUpperCase() == curentCategory)">
	</small-project>
</div>

<footer [hidden]="(simple === true)"></footer>
