.about
	width 100%
	padding 80px 120px 100px 120px
	@media $tablet
		padding 80px 20px 300px 25px
	@media $mobile
		padding 80px 20px 300px 25px
	
	&__main-info
		font-size 28px
		color #222

	&__short-info
		font-size 18px
		color #444
		font-weight 300
