<main-menu [fixed]="true"></main-menu>

<div class="about">
	<h2 class="page-title">О НАС</h2>
	<h4 class='about__short-info'>Беларусь. Минск. Студия дизайна, созданная в 2016 году.</h4>
	<h4 class='about__short-info'>Мы можем охарактеризовать себя, как люди, профессионализм и любовь которых к творческому процессу <br>в сфере дизайна, позволяют создавать интересные проекты интерьеров, <br>проекты мебели и предметного дизайна, которые мы развиваем<br>под белорусской маркой «Lineform». </h4>

	<h4 class='about__short-info'>Наш подход к проектам и задачам отображает философию от идеи до ее воплощения,<br>наполняя его смыслом и постоянным развитием наших решений.<br>Мы стремимся к новому опыту, задачам, которые могли бы сделать ваше пространство <br>и предметное восприятие лучше и проще.</h4>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer></footer>
