.small-project
	width 33.333%
	text-align center
	float left
	display block
	padding-bottom 18px
	cursor pointer
	position relative
	@media $tablet
		width 47%
		margin-left 2%
	@media $mobile
		width 95%
		margin-left 2%
	
	&__admin-link
		width 100%
		float left

	&--progress
		opacity 0.7

	&--progress:not(.small-project--admin)
		pointer-events none

	&--progress:after
		content "in progress"
		display block
		position absolute
		top 20px
		color white
		left 0
		background-color $color_main
		padding 4px 14px

	&:hover
		& .small-project__title
			color $color_main

	&__category
	&__title
		font-weight 400
		margin 0
		padding 1px 0
		text-transform uppercase
		transition all .25s ease
		letter-spacing 1.5px

	&__title
		font-size 13px
		font-weight 600
		color: #000
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	&__category
		color #999
		font-size 10px

	&__img-container 
		height 400px
		overflow hidden
		position relative
		margin-bottom 15px
		@media $desktop
			height 300px
		@media $tablet
			height 300px
		@media $mobile
			height 300px

	&__img
		position absolute
		left 0
		top 0
		margin auto
