<main-menu 
	[white]="true"
	[hidden]="(simple === true)"
	[fixed]="true"></main-menu>

	<div class="one-project">
		<div class="project-first-scren" id="startPageComponent">
			<div class="project-first-scren__container">
				<h2 class="project-first-scren__title">{{project.title}}</h2>
				<p class="project-first-scren__info">{{project.summary}}</p>
			</div>

			<a (click)='closeProject()' class="project-first-scren__close"></a>
			<div class="project-sub-info">
				<div class="project-sub-info--block" *ngFor="let block of project.infoBlocks">
					<h4 class="project-sub-info--title">{{block.title}}</h4>
					<p class="project-sub-info--item" *ngFor="let line of block.lines; let i = index">{{block.lines[i].value}}</p>
				</div>
			</div>
			<img 
				[ngClass]="{'loaded': config.loaded, 'non-loaded':!config.loaded}"
				(load)="config.loaded = true" 
				src="{{project.firstImg}}" alt="" class="project-first-scren__bg-img">
		</div>

		<div class="one-project__content" [innerHTML]='transformHtml(project.text)'></div>
	</div>

	<div 
		[hidden]="(!project.buttonLink)"
		class="additional-info">
		<a class="button additional-info__link" href="{{project.buttonHref}}" target="_blank">{{project.buttonLink}}</a>
	</div>

<footer></footer>
