<main-menu [fixed]="true"></main-menu>

<div class="services">
	<h2 class="services__title">НАШИ УСЛУГИ</h2>
	<h3>Мы занимаемся дизайном интерьера, квартир и загородных домов, жилых и общественных пространств, <br>
	а также - проектированием мебели.</h3>

	<h3>Дизайн интерьера в нашем понимании - это  создание нового и формирование в будущем правильного пространства, <br>
	в котором человек может чувствовать себя комфортно.</h3>

	<h3>Проектирование мебели - один из основных видов нашей деятельности. <br>
	Наша концепция не скопировать, а создать новый продукт с новым видением.</h3>

	<h3>Результатом нашей работы, вне зависимости от того, интерьер квартиры или это дизайн мебели, <br>
	является продуманный современный функциональный продукт.</h3>

	<div class="services__part">
		<h3 class="services__title-block">ДИЗАЙН ИНТЕРЬЕРА</h3>
		<p>Мы выполняем дизайн интерьера от квартир и загородных домов до общественных интерьеров с последующей реализацией проектов.</p>
		<p>Процесс работы с нами:</p>

		<ul>
			<li>Проект интерьера от конепции до его реализации.</li>
			<li>Комплекты чертежей с визуализацией помещений.</li>
			<li>Подбор отделочных материалов и мебели</li>
			<li>Авторский надзор в процессе реализации проекта.</li>
			<!--li>Комплексный подход к реализации проекта, включая отделочные работы и изготовление мебели</li-->
		</ul>

	</div>
	<div class="services__part">
		<h3 class="services__title-block">ПРОЕКТИРОВАНИЕ МЕБЕЛИ</h3>
		<p>Занимаемся созданием дизайна мебели и предметного дизайна.</p>

		<ul>
			<li>Разработка дизайна мебели и предметов интерьера с последующей реализацией и запуска в серийное производство.</li>
			<li>Совместное сотруднчество с производителями мебели и фабриками над общим дизайном.</li>
			<li>Создание дизайна мебели под собственной белорусской маркой Lineform. #lineform_design</li>
		</ul>

	</div>
</div>
<div class="catalog">
	<a class='button catalog__link' href="/catalog.pdf" target="_blank">Скачать прайс</a>
</div>

<footer></footer>
