<admin-menu></admin-menu>
<div class="edit-project">
	<h2 class="edit-project__page-title">Новость "{{oneNews.title}}"</h2>

	<div class="edit-project__tabs">
		<a 
			(click)="tabSwitch(previewBlock, editBlock)"
			[ngClass]="{'edit-project__tab': true, 'edit-project__tab--active': (editBlock.style.display != 'none')}">Edit</a>
		<a 
			(click)="tabSwitch(editBlock, previewBlock)"
			[ngClass]="{'edit-project__tab': true, 'edit-project__tab--active': (editBlock.style.display == 'none')}">Preview</a>

		<a (click)="deleteNews()" class="edit-project__tab edit-project__tab--right">Удалить новость</a>
	</div>

	<div class="edit-project__edit-mode" #editBlock>
		<div class="edit-project__main">
			<div class="edit-form">
				<p class="edit-form__label">Заголовок</p>
				<input type="text" [(ngModel)]="oneNews.title" class='edit-form__title'>

				<p class="edit-form__label">Дата</p>
				<input type="text" class='edit-form__title'>

				<p class="edit-form__label">Описание</p>
				<textarea class='edit-form__summary' [(ngModel)]="oneNews.summary"></textarea> 

				<p class="edit-form__label">Текст</p>
				<textarea class='edit-form__text' [(ngModel)]="oneNews.text"></textarea>

				<br>
				<input multiple #fileSelectFullText id="image-file" type="file" /><br>
				<button (click)='addImgToText(fileSelectFullText, true)' class="button">Добавить как маленькую картинку</button>
				<br>
				<button (click)='addImgToText(fileSelectFullText, false)' class="button">Добавить как большую картинку</button>

			</div>
		</div>
		<div class="edit-project__not-main">
			<div class="help-data">
				<h3 class="help-data__title">Миниатюра</h3>
				<img src="{{oneNews.img}}" alt="">
				<input #fileSelect id="image-file" class="button" type="file" />
				<button (click)='uploadMiniImg(fileSelect)' class="button button--simple">Загрузить миниатюру</button>
			</div>

		</div>
	</div>

	<div class="edit-project__view-mode" style="display: none" #previewBlock>
		<one-news simple="true" [newsData]="oneNews"></one-news>
	</div>

	<a (click)="saveNews()" class="edit-project__save-or-update-btn">+</a>
</div>

<login></login>