.main-menu
	width 100%
	padding 20px 100px 25px 100px
	position relative
	height auto
	text-align center
	cursor default

	@media $tablet
		padding 20px 10px 25px 10px

	@media $mobile
		padding 10px 10px 13px 10px

	&--fixed
		width 100%;
		position fixed
		left 0
		top 0
		background rgba(#fff, 0.9)
		z-index 1

	&__link
		color #333
		padding 0 20px
		font-size 12px
		text-transform uppercase
		font-weight 500

		@media $tablet
			padding 0 15px

		@media $mobile
			padding 0 5px

		&--logo
			float left
			margin-right: -120px;
			color: #555
			font-family 'Arial'
			text-transform none
			font-size 18px
			font-weight 700
			@media $mobile-sm
				display: none

		&--active
			color #111
			font-weight 700

		&:hover
			color #000
