<nav [ngClass]="{'main-menu': true, 'main-menu--fixed': fixed, 'main-menu--white': white}">
	<a 
		routerLink="/projects"
		[ngClass]="{'main-menu__link': true, 'main-menu__link--active': (curentPage == '/projects')}">Проекты</a>
	<a 
		routerLink="/services"
		[ngClass]="{'main-menu__link': true, 'main-menu__link--active': (curentPage == '/services')}">Услуги</a>

	<!--a 
		routerLink="/news"
		[ngClass]="{'main-menu__link': true, 'main-menu__link--active': (curentPage == '/news')}">Новости</a-->

	<a 
		routerLink="/about"
		[ngClass]="{'main-menu__link': true, 'main-menu__link--active': (curentPage == '/about')}">О нас</a>
	<a 
		routerLink="/contacts"
		[ngClass]="{'main-menu__link': true, 'main-menu__link--active': (curentPage == '/contacts')}">Контакты</a>
	<a 
		routerLink="/"
		class="main-menu__link main-menu__link--logo">Lineform</a>
</nav>
