<div 
	[ngClass]="{'start-page': true, 'start-page--loaded': config.loaded}"
	id="startPageComponent" (click)="down()">
	<div class="start-page__container" style="width: 885px">
		<p class="start-page__info">STUDIO DESIGN</p>
		<a class="start-page__logo"></a>
		<nav class="start-page__menu">
			<a routerLink="/projects" class="start-page__link">Проекты</a>
			<a routerLink="/services" class="start-page__link">Услуги</a>
			<!--a routerLink="/news" class="start-page__link">Новости</a-->
			<a routerLink="/about" class="start-page__link">О нас</a>
			<a routerLink="/contacts" class="start-page__link">Контакты</a>
		</nav>
	</div>
	<a class="start-page__down"></a>
	<img
		src="assets/img/h3/10__blur.jpg"
		alt=""
		class="start-page__bg-img start-page__bg-img--blur"
		[ngClass]="{'loaded': config.loaded2, 'non-loaded':!config.loaded2}" 
		(load)="config.loaded2 = true" alt="">
	
	<img src="assets/img/h3/10.jpg" 
		[ngClass]="{'loaded': config.loaded, 'non-loaded':!config.loaded}"
		(load)="config.loaded = true"
		alt=""
		class="start-page__bg-img">

	<div
		[ngClass]="{'loaded': config.loaded2, 'non-loaded':!config.loaded2}"
		class="start-page__bg"></div>
</div>
