.contacts
	height 1000px
	width 1000px
	margin 0 0 0 115px
	padding-top 80px
	margin-bottom 40px
	@media $tablet
		width 100%
		margin 0 0 0 25px
	@media $mobile
		width 100%
		margin 0
		padding 0
		overflow hidden
		padding-top 80px
		padding-left 20px
		padding-right 10px
		padding-bottom 250px
		height: auto;

	&__info
		float left
		margin-top 20px
		font-size 18px
		min-width: 50%
		&--bigger
			font-size 26px
			width 70%

	&__top-border
		position: relative

	&__top-border:before
		position: absolute
		content: ""
		width: 300%
		display: block
		height: 1px
		top: -30px
		left: -50%
		background-color: #c2c2c2

	&__form
		float left
		width 100%
		padding-bottom 50px
		padding-top 50px

	&__message-area
	&__contact-area
		width 75%
		margin-bottom 10px
		border 1px solid #333
		padding 10px
		@media $mobile
			width 90%
		&:focus
			outline none
			border 1px solid $color_main

	&__part
		width 50%
		box-sizing border-box
		float left
		padding 4px
		@media $tablet
			width 80%
			margin 30px 0
		@media $mobile
			width 80%
			margin 30px 0

	&__title-block
		font-size 20px
		font-weight 600
		color #333

	&__title
		color #333
		font-size 42px
		@media $mobile
			font-size 32px

	&__vk
	&__fb
	&__in
	&__bh
		background-size 20px
		background-position center
		background-repeat no-repeat
		width 40px
		height 40px
		margin-right:10px
		float left

	&__soc
		float left
		clear left
		height 50px
		width 400px
		&--center
			width 70%
			text-align center
			& *
				float none
				display inline-block

	&__vk
		background-image url('./assets/img/soc/vk__dark.svg')

	&__fb
		background-image url('./assets/img/soc/fb__dark.svg')
		
	&__in
		background-image url('./assets/img/soc/instagram__dark.svg')

	&__bh
		background-image url('./assets/img/soc/behance__dark.svg')
