<main-menu [fixed]="true"></main-menu>

<div class="contacts">
	<h2 class="contacts__title">НАШИ КОНТАКТЫ</h2>
	<div class="contacts__part">
		<h3 class="contacts__title-block">ДИЗАЙН ИНТЕРЬЕРА, МЕБЕЛЬ</h3>
		<!--p>Алексей</p-->
		<span>+375 (29) 871-53-56</span>
	</div>

	<div class="contacts__part">
		<h3 class="contacts__title-block">ПО ВОПРОСАМ СОТРУДНИЧЕСТВА</h3>
		<!--p>Руслан</p-->
		<span>+375 (29) 649-25-45</span>
	</div>

	<div class="contacts__form">
		<h4 class="contacts__info">Написать нам</h4>
		<textarea placeholder="Ваше сообщение" name="" class="contacts__message-area" cols="30" rows="10" #message></textarea>
		<input placeholder="Ваш номер телефона (либо другой контакт)" type="text" class="contacts__contact-area" #contact>
		<input placeholder="Ваше имя" type="text" class="contacts__contact-area" #name>
		<input type="submit" class='button' value="Отправить" (click)='sendMessage(message, contact, name)'>
	</div>


	<h4 class="contacts__info contacts__top-border contacts__info--bigger">Lineform в социальных сетях</h4>
	<div class='contacts__soc '>
		<a target="_blank" href="https://vk.com/club120593301" class="contacts__vk"></a>
		<a target="_blank" href="https://www.facebook.com/Lineformby/" class="contacts__fb"></a>
		<a target="_blank" href="https://www.instagram.com/lineform_design/" class="contacts__in"></a>
		<a target="_blank" href="https://www.behance.net/Lineformdesign" class="contacts__bh"></a>
	</div>
</div>
