<div class="footer">
	<div class="footer__content">
		<div class="footer__half">
			<h3 class="footer__logo"><span>Lineform</span><br>Interior design and furniture</h3>
			<nav class='footer__soc'>
				<a target="_blank" href="https://vk.com/club120593301" class="footer__vk"></a>
				<a target="_blank" href="https://www.facebook.com/Lineformby/" class="footer__fb"></a>
				<a target="_blank" href="https://www.instagram.com/lineform_design/" class="footer__in"></a>
				<a target="_blank" href="https://www.behance.net/Lineformdesign" class="footer__bh"></a>
			</nav>
		</div>

		<div class="footer__half">
			<div class="footer__phones">
				<p class="footer__phone">+375(29) 871-53-56 <span>Дизайн</span></p>
				<p class="footer__phone">+375(29) 649-25-45 <span>По вопросам сотрудничества</span></p>
			</div>

			<div class="footer__copy">
				<p class="footer__copy-line">Беларусь. г. Минск</p>
				<p class="footer__copy-line">info@lineform.by</p> 
				<p class="footer__copy-line">© Lineform studio design / 2017</p> 
				
			</div>
		</div>
	</div>
</div>
