.admin-menu
	&__hide
		display none
	
	hr
		background-color white
		border none
		height 1px
		margin 20px 0
	
	&__link
		width 100%
		display block
		color white
		margin 10px 0
		&:hover
			text-decoration: underline

	&__content
		padding 60px 10px 60px 15px
		position fixed
		top 0px
		left 0px
		width 300px
		background-color $main_color
		color white
		height 100%
		z-index 999999999
	&__other
		position fixed
		top 0px
		left 0px
		width 100%
		background-color rgba(black, 0.2)
		cursor pointer
		height 100%
		z-index 99999999

	&__open
		position fixed
		top 10px
		left 15px
		color $main_color
		z-index 9999999999
		text-decoration: underline

	&__close
		text-decoration: underline
		color white
		position fixed
		top 10px
		left 15px
		z-index 9999999999
