<div class="admin-menu">
	<a
		[ngClass]="{'admin-menu__hide': isOpen}"
		class="admin-menu__open"
		(click)="isOpen = true">Админ панель</a>

	<a
		[ngClass]="{'admin-menu__hide': !isOpen}"
		class="admin-menu__close"
		(click)="isOpen = false">Админ панель</a>

	<div class="admin-menu__content" [ngClass]="{'admin-menu__hide': !isOpen}">
		<hr>
		<a routerLink="/admin" class="admin-menu__link">Список проектов</a>
		<!--a class='admin-menu__link' (click)='addNews()'>Создать новость</a-->
		<a class='admin-menu__link' (click)='addProject()'>Создать</a>
		<hr>
		<a routerLink="/" class="admin-menu__link">На сайт</a>
		<br><br><br><br><br><br>
		<a (click)="logout()" class="admin-menu__link">Logout</a>
	</div>

	<div class="admin-menu__other" (click)="isOpen = false" [ngClass]="{'admin-menu__hide': !isOpen}"></div>
</div>