.studion-info
	width 100%
	padding 20px 120px 40px 120px
	position relative
	text-align: center;
	height auto
	@media $tablet
		padding 80px 20px 
	@media $mobile
		padding 50px 10px 40px 10px 

	&__text
		display: inline-block
		font-size 14px
		line-height 16px
		width: 350px
		text-align: left

	&__link
		position absolute
		left 7.6%
		top  0
		bottom 0
		margin 0
		font-size 14px        
		color $color_main
		transform rotate(-90deg)
		z-index 9
